{# extens base layout (inherits HTML structure #}
{% extends 'base.html.twig' %}

{# replaces {% block content %} in base #}
{% block content %}
    <div>
        {# Include a template for rendering a meal plan and passing the current "plan" as a variable #}
        {% include 'mealplan/meal_plan.html.twig' with { 'plan': plan } %}
    </div>
{% endblock %}
