<div class="meal-plan-card">
    <h2 class="plan-name">{{ plan.name }}</h2>
    <p class="plan-location">{{ plan.schoolName }} | {{ plan.weekOfDelivery }}</p>

    <div class="meals-container">
        <table class="meal-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Allergens</th>
                <th>Nutritional Info</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for meal in plan.meals %}
                {% include 'mealplan/meal.html.twig' with { 'meal': meal } %}
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
