<header>
    <nav>
        <ul class="main-menu">
            <li><a href="{{ path('app_homepage') }}">Home</a></li>
            <li><a href="{{ path('current_mealplan') }}">Current Mealplan</a></li>
            <li><a href="{{ path('all_mealplans') }}">All Mealplans</a></li>
        </ul>
    </nav>
</header>
