<header>
    <nav>
        <ul class="main-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/menu/current">Current Mealplan</a></li>
            <li><a href="/menu/all">All Mealplans</a></li>
        </ul>
    </nav>
</header>
