{# extens base layout (inherits HTML structure #}
{% extends 'base.html.twig' %}

{# replaces {% block title %} in base #}
{% block title %}Home - CORE6{% endblock %}

{# replaces {% block content %} in base #}
{% block content %}
    <h1>Welcome to the Home Page</h1>
    <h2>Catering4Schools GmbH</h2>
    <img src="https://www.htlrennweg.at/wp-content/uploads/2020/04/htl3r_logo_slogan_transparent.png" alt="Logo">
{% endblock %}
