{% extends 'base.html.twig' %}

{% block content %}
    <div>
        {% for plan in meal_plans %}
{#            {% include 'mealplan/meal_plan.html.twig' with { 'plan': plan } %}#}
            <h2 class="plan-name">{{ plan.name }}</h2>
            <a href="/menu/{{ plan.id }}">Inspect Meal</a>
            <p class="plan-location">{{ plan.schoolName }} | {{ plan.weekOfDelivery }}</p>
        {% endfor %}
    </div>
{% endblock %}
