{# extens base layout (inherits HTML structure #}
{% extends 'base.html.twig' %}

{# replaces {% block title %} in base #}
{% block title %}Home - CORE6{% endblock %}

{# replaces {% block content %} in base #}
{% block content %}
    <h1>404: Not Found</h1>
    <a href="/">Back Home</a>
{% endblock %}
